body {
    background: #f8f8f8;
    color: #222;
}
a {
    text-decoration: none;
    color: #333;
}
.top_nav {
    width: 990px;
    height: 88px;
    margin: 0 auto;
}

.top_nav .logo {
    float: left;
    width: 190px;
    height: 100%;
    margin-right: 24px;
    background: url("../images/sprite.png") no-repeat;
}

.top_nav .logo-txt {
    float: left;
    font-size: 18px;
    color: #666;
    line-height: 88px;
}

.top_nav .login {
    margin-top: 63px;
    float: right;
    font-size: 12px;
}
/*覆盖样式*/
.footer{
    height: 0 !important;
}
body,html{
    background: #f8f8f8 !important;
}

/*--------------------------中间*/

.main {
    width: 990px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-top: 3px solid #f90;
    background: #fff;
    padding: 55px 0;
    line-height: 1.5;
}

#enterReg_form {
    width: 990px;
    margin: 0 auto;
}

.reg-form {
    width: 380px;
    margin: 0 auto;
}

.reg-form .gift-pkg {
    font-size: 14px;
    line-height: 17px;
    padding-left: 2px;
    margin-bottom: 17px;
}

.reg-form .gift-pkg i {
    float: left;
    width: 19px;
    height: 17px;
    margin-right: 6px;
    background: url("../images/sprite.png") -75px -93px no-repeat;
}

.reg-form .gift-pkg em {
    color: #f40;
}

em, i {
    font-style: normal;
}

.reg-form .input-box {
    width: 378px;
    height: 38px;
    border: 1px solid #ccc;
    line-height: 38px;
    margin-bottom: 25px;
    font-size: 13px;
}

.reg-form .input-box .title {
    float: left;
    width: 76px;
    padding-left: 11px;
}

.reg-form .input-box .input-wrapper {
    position: relative;
    float: left;
    height: 100%;
}

.reg-form .input-box .input-wrapper input {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 10px;
    color: #333;
    border: 0;
    background: 0;
}

.reg-form .input-box .input-wrapper .ok {
    display: none;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 11px;
    right: -155px;
    background: url("../images/sprite.png") -120px -93px no-repeat;
}

.reg-form .input-box .input-wrapper .input-text {
    outline: none;
}

.send-msg {
    float: left;
    display: inline-block;
    height: 100%;
    width: 145px;
    text-align: center;
    background: #f5f5f5;
    margin: -1px -2px 0 0;
    border: 1px solid #bbb;
    margin-left: 14px;
}
.submit-btn{
    width: 100%;
    line-height: 40px;
    background: #f60;
    font-size: 20px;
    color: #fff;
    margin: 24px 0 5px;
}
#enterReg_form .submit-btn {
    display: block;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
}

/*提示样式*/
.reg-form .error-msg{
    display: none;
    height: 22px;
    line-height: 22px;
    margin: -25px 0 3px;
    color: red;
}
.reg-form .password-field .security-level, .reg-form .password-field .suggestion, .reg-form .phone-field .security-level, .reg-form .phone-field .suggestion{
    line-height: 22px;
}
.suggestion{
    display: none;
    text-indent: -75px;
}
.suggestion a{
    color: #333;
}


/*蒙版*/
.reg-protocol{
    position: fixed;
    width: 610px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-family: "microsoft yahei";
}
.reg-protocol .mask{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
}
.reg-protocol .content{
    position: absolute;
    width: 556px;
    height: 440px;
    top: 5px;
    background: #fff;
    padding: 0 22px;
}
.reg-protocol .content .head{
    height: 40px;
    line-height: 40px;
    box-shadow: inset 0 -1px 0 0 #ddd;
}
.reg-protocol .content .head span{
    float: left;
    font-size: 14px;
    color: #333;
    font-weight: 700;
}
.reg-protocol .content .head a{
    float: right;
    width: 14px;
    height: 12px;
    margin-top: 14px;
    background: url("./../images/sprite.png") -163px -93px no-repeat;
    cursor: pointer;
}
.reg-protocol .content .body{
    padding-top: 20px;
}
.reg-protocol .content .body p{
    font-size: 12px;
    color: #333;
    line-height: 20px;
}
.reg-protocol .content .body p b{
    color: #333;
}
.reg-protocol .content .body .Two{
    font-size: 12px;
    color: #333;
    line-height: 20px;
    margin-top: 22px;
}
.reg-protocol .content .body p a{
    color: #f60;
    font-weight: 700;
}
.reg-protocol .content .body .agree-btn{
    display: block;
    width: 140px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
    background: #f60;
    font-size: 14px;
    color: #fff;
    margin: 6px auto 0;
}
.mask-two{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 555px;
    height: 320px;
}